# files & directories
alias l='ls -lh'
alias la='ls -lhA' # only shorthands are mac-compatible
alias lt='ls -lhtr' # only shorthands are mac-compatible
alias t='tree -C' # -C is for color=always
alias ta='tree -C -a'
alias t2='tree -C -L 2'
alias t3='tree -C -L 3'
alias md='mkdir -p'
alias cdd='cd ~/downloads'
alias cdp='cd ~/projects '
alias ..='cd ..'



alias vim="\$EDITOR"
alias vr="\$EDITOR -c \"History\"" # open recently used files with vim
# quickly open common dotfiles
alias  va="\$EDITOR ~/.sh_aliases"
alias  vz="\$EDITOR ~/.zshrc"
alias  ve="\$EDITOR ~/.zshenv"
alias  vf="\$EDITOR ~/.config/fish/config.fish"
alias  vv="\$EDITOR ~/.vimrc"
alias vvp="\$EDITOR ~/.vimrc_plugins"
alias vvk="\$EDITOR ~/.vimrc_keybindings"
alias vb="\$EDITOR ~/.config/polybar/config.ini"
alias vn="\$EDITOR ~/nixos/configuration.nix ~/nixos/flake.nix ~/nixos/hardware-configuration.nix"
alias vi="\$EDITOR ~/.config/i3/config"
alias vh="\$EDITOR ~/.config/herbstluftwm/autostart"
alias ww="\$EDITOR -c VimwikiIndex"
alias p="cd \$(select-project)"
alias tg="tree-git"


# git
alias g='git'
alias gs='git st'
alias gu='git up'
alias gp='git p'
alias gpf='git pf'
alias gl='git lg'
alias gla='git lga'
alias gdf='git df --no-index'


# aliases
alias rcp='rsync --archive --partial --info=progress2 --human-readable'
alias o='mimeo' # Open files using MIME-type and custom user associations
alias rmf='rm'
alias rm='rmtrash'
alias ssh='TERM=xterm-256color ssh' # fix colors in some ssh connections
alias rg="rg --hidden  --no-follow --no-heading --glob '!.git/*' --ignore-case" # https://github.com/BurntSushi/ripgrep/issues/623
alias hd='hexdump -C'
alias lsblk='lsblk -o NAME,RM,SIZE,FSTYPE,LABEL,MOUNTPOINT,RO,UUID'
alias sys='sudo systemctl'
alias sysu='systemctl --user'
alias hc='herbstclient'
alias watch='watch -c -d'
alias w='watch '
alias chromium='chromium --high-dpi-support=1 --force-device-scale-factor=1.5' # fix highdpi for chromium
alias chrome='google-chrome-stable --high-dpi-support=1 --force-device-scale-factor=1.5' # fix highdpi for chromium
alias chromium-no-plugins='chromium --disable-extensions --disable-plugins'
alias firefox='MOZ_USE_XINPUT2=1 firefox'
alias qrscan='LD_PRELOAD=/usr/lib/libv4l/v4l1compat.so zbarcam --raw /dev/video0'
alias gparted='gksudo gparted'
alias startmac='VBoxManage startvm "macOS" --type headless'
alias tclip='tmate display -p "#{tmate_ssh}" | xclip -selection clipboard'  # tmate session token to clipboard
alias tw=timew
alias tf=terraform
alias dc='docker compose'
alias tig='tig status'
alias idea-community='SBT_NATIVE_CLIENT=true idea-community'
alias sbt='~/bin/sbt'
alias m='make'
alias mc='make clean'
alias drs="$HOME/projects/ubunix/ubunix.sh"



# nixos
alias ns="nix-shell --run zsh"
alias nrs="sudo nixos-rebuild switch"
