[include]
    path = .gitconfig_hub

[user]
    email = felix@beerleader.net
    name = Felix Dietze

[core]
    pager = less
    excludesfile=~/.config/git/ignore # needed for ag

[push]
    default = simple

[branch]
    autosetuprebase = always

[alias]
    st = status
    co = checkout
    cob = checkout -b
    ci = commit
    cm = commit -m
    cim = commit -m
    cam = commit -a -m
    amend = commit --amend
    unstage = reset HEAD
    prev = reset HEAD~1
    cl = clone
    br = branch
    brr = branch -r
    lg = fry one-line-log-colors
    df  = fry word-based-diff
    dfs  = fry word-based-diff --staged
    diff = diff --irreversible-delete --find-copies-harder --find-copies --ignore-space-at-eol --ignore-space-change --ignore-all-space
    diffs = diff --irreversible-delete --find-copies-harder --find-copies --ignore-space-at-eol --ignore-space-change --ignore-all-space
    p = push
    pf = push --force
    peng = push --force
    po = "!git push --set-upstream origin \"$(git rev-parse --abbrev-ref HEAD)\"" # push current branch to origin
    dbr = "!f() { git branch -D $1; git push origin :$1;}; f" # delete local and remote branch
    dtag = "!f() { git tag -d $1; git push origin :$1;}; f" # delete local and remote tag
    wip = "!git add -A; git commit --message='wip'"
    wipbr = "!f() { git cob $1; git wip; git po;}; f" # push current branch to origin

    ss = stash save
    ssu = stash save --include-untracked
    sp = stash pop

    rba = rebase --abort
    rbs = rebase --skip
    rbc = rebase --continue
    rbi = rebase -i

    mra = merge --abort
    mrs = merge --skip
    mrc = merge --continue

    cpa = cherry-pick --abort
    cps = cherry-pick --skip
    cpc = cherry-pick --continue

    h = help

[color]
    branch = auto
    diff = auto
    status = auto

[color "diff"]
    old = red
    new = green

[color "status"]
    added = green
    changed = yellow
    untracked = blue

[merge]
    tool = meld

[tig]
    vertical-split = true
    tab-size = 4
    ignore-space = all
    ignore-case = true ; search
    ; wrap-lines = true ; conflicts with stage-update-line
    editor-line-number = true
    mouse-scroll = true
    show-changes = true
    status-untracked-dirs = false

[tig "bind"]
    ;NEO
    generic = ä Quit
    generic = ü view-close
    generic = 8 move-up ; NEO right hand analog to arrow up
    generic = 5 move-down ; NEO right hand analog to arrow down

    generic = g move-first-line
    generic = G move-last-line
    main = G move-last-line ; overwrite default keybinding
    generic = F !git fetch
    generic = P !git push
    status = A !git commit --amend
    stage = u stage-update-line
    stage = <Home> stage-update-line ; NEO AltGr+u
    stage = U status-update
    status = U status-update
    stage = A !git commit --amend
    stage = C !git commit
    status = w !git fry word-based-diff
    status = W !git fry word-based-diff --staged
    stage = w !git fry word-based-diff %(file)
    stage = W !git fry word-based-diff --staged %(file)
    ; generic = C !git cherry-pick %(commit)
