set gdefault                      " substitute all occurrences in line per default
set history=10000                  " keep x lines of command line history
set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file
set number                        " line numbers
set scrolloff=5 sidescrolloff=10  " keep some lines before and after the cursor visible
set clipboard=unnamedplus,unnamed " integrate with system clipboard
set surround                      " emulate vim-surround plugin

" set <leader> to <space>
let mapleader = " "


" edit ideavim config
nnoremap <leader>vv :e ~/.ideavimrc<CR>
nnoremap <leader>vr :source ~/.ideavimrc<CR>


""""""""""""""""""""""""""""""""""""""""""""""""""""""
" NEO-Layout

" simple closing and saving (helpful in NEO keyboard layout)
nnoremap ö :w<CR>
nnoremap ä :action Exit<CR>
nnoremap ü :q<CR>
nnoremap <leader>ü :action CloseAllEditorsButActive<CR>

" replay q/f macro
" ß is on the right side next to q
" Q was ex mode
nnoremap ß @q
vnoremap ß @q
nnoremap Q @f
vnoremap Q @f

" j: jump to mark
nnoremap j `
vnoremap j `




""""""""""""""""""""""""""""""""""""""""""""""""""""""
" Fix some vim annoyances

" make Y behave like D and C, yanking till end of line
map Y y$

" don't overwrite register when pasting over selection
vnoremap p pgvy

" paste over rest of line
nnoremap <leader>p v$<Left>pgvy

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv
vnoremap = =gv

" search backwards with backslash
nmap \ ?
vmap \ ?

" delete/edit whole word backwards
" (can confilict with multiple cursors)
nnoremap db xdb
nnoremap cb xcb

" TODO: smart home




""""""""""""""""""""""""""""""""""""""""""""""""""""
" Custom bindings

" Mark with Shift-m
" use m to jump to mark
" M was: place cursor in the center of screen
" nnoremap M m
" nnoremap m `


" clear search highlighting
nnoremap <leader>/ <esc>:nohls<return><esc>

" TODO: toggle chars at end of line
nnoremap <leader>, mZA,<Esc>`Z
nnoremap <leader>; mZA;<Esc>`Z

" highlight current word
nnoremap h mZ*`Z


""""""""""""""""""""""""""""""""""""""""""""""""""""
" IDEA specific
nmap <leader>? :action GotoAction<CR>

" change font size
nmap + :action EditorIncreaseFontSize<CR>
nmap - :action EditorDecreaseFontSize<CR>
nmap <leader>= :action EditorResetFontSize<CR>

" code navigation
nmap <leader>e :action GotoFile<CR>
nmap <leader>a :action FindInPath<CR>
nmap <leader>r :action RecentFiles<CR>

nmap l :action NextTab<CR>
nmap L :action PreviousTab<CR>

nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap gD :action GotoImplementation<CR>
nmap <leader>u :action ShowUsages<CR>
nmap <leader>U :action FindUsages<CR>
nmap gq :action QuickJavaDoc<CR>
nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
nmap <leader>n :action GotoNextError<CR>
" nmap <leader>n :action NextOccurence<CR>

" editing / refactoring
nmap gcc Vgc
vnoremap gc :<bs><bs><bs><bs><bs>action VimVisualSwapSelections<cr>:action CommentByLineComment<cr>
nmap <leader>f :action ReformatCode<CR>

 " like in vim-multiple-cursors
nmap <C-n> :action RenameElement<CR>

nmap <leader>m :action ExtractMethod<CR>
vmap <leader>m :action ExtractMethod<CR>
" nmap <leader>v :action IntroduceVariable<CR>
" vmap <leader>v :action IntroduceVariable<CR>
nmap <leader>i :action Inline<CR>
nmap <leader>o :action OptimizeImports<CR>
nmap <leader>g :action Generate<CR>

nmap <leader>t :action RunClass<CR>



















