" TODO commenting selection

set gdefault                      " substitute all occurrences in line per default
set history=1000                  " keep x lines of command line history
set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set number                        " line numbers
set relativenumber                " relative line numbers
set scrolloff=5 sidescrolloff=10  " keep some lines before and after the cursor visible

" edit ideavim config
nnoremap <space>V :e ~/.ideavimrc<CR>

" simple closing and saving (helpful in NEO keyboard layout)
nnoremap ö :action ReformatCode<CR>:w<CR>
nnoremap ä :action Exit<CR>
nnoremap ü :q<CR>
nnoremap <space>ü :action CloseAllEditorsButActive<CR>

" disable arrow keys and home/end in insert mode, exit insert mode when pressed
inoremap  <Up>     <Esc><Up>
inoremap  <Down>   <Esc><Down>
inoremap  <Left>   <Esc>
inoremap  <Right>  <Esc>2<Right>
inoremap  <Home>   <Esc><Home>
inoremap  <End>    <Esc><End>

" clear search highlighting
nnoremap <esc> <esc>:nohls<return><esc>

" don't lose selection when indenting
vnoremap < <gv
vnoremap > >gv

" let Y yank not entire line, but from cursor to the end (consistent with D, C)
nnoremap Y y$

" replay q macro (helpful in NEO keyboard layout)
nmap ß @q

" jump to mark
nmap j `


" change font size
nmap zi :action EditorIncreaseFontSize<CR>
nmap zo :action EditorDecreaseFontSize<CR>

" code navigation
nmap l :action NextTab<CR>
nmap L :action PreviousTab<CR>
nmap <space>e :action GotoFile<CR>
nmap <C-o> :action Back<CR>
nmap <C-i> :action Forward<CR>
nmap gD :action GotoImplementation<CR>
nmap <space>u :action ShowUsages<CR>
nmap <space>U :action FindUsages<CR>
nmap gq :action QuickJavaDoc<CR>
nmap <C-p> :action ParameterInfo<CR>
imap <C-p> <C-o>:action ParameterInfo<CR>
" nmap <space>n :action GotoNextError<CR>
nmap <space>n :action NextOccurence<CR>
nmap <space>a :action GotoAction<CR>
nmap <space>f :action ActivateProjectToolWindow<CR>

" editing / refactoring
nmap gcc :action CommentByLineComment<CR>
vmap gcc :action CommentByLineComment<CR>
nmap <space>r :action RenameElement<CR>
nmap <space>m :action ExtractMethod<CR>
vnoremap <space>m :action ExtractMethod<CR>
nmap <space>v :action IntroduceVariable<CR>
nmap <space>i :action Inline<CR>
nmap <space>o :action OptimizeImports<CR>
nmap <space>g :action Generate<CR>
nmap + :action EditorSelectWord<CR>

nmap <space>t :action Run<CR>



















