set editing-mode vi
set show-mode-in-prompt on
#  set the cursor style to reflect the mode
#  The Virtual Console uses different escape codes, so you should check first which term is being used:
$if term=linux
	set vi-ins-mode-string \1\e[?0c\2
	set vi-cmd-mode-string \1\e[?8c\2
$else
	set vi-ins-mode-string \1\e[6 q\2
	set vi-cmd-mode-string \1\e[2 q\2
$endif

# switch to block cursor before executing a command
set keymap vi-insert
RETURN: "\e\n"
