- automatically read analyze relevant log files and/or run commands like journalctl to get them
- automatically read relevant man pages
- you can assume all binaries in the nix store exist when referencing like this: "${pkgs.mypackage}/bin/mycommand"
- automatically apply changes using sudo nixos-rebuild switch
