/htop
/chromium
/pulse
/pavucontrol.ini
/nemo
/menus
/gedit
/autostart
/VirtualBox
/Trolltech.conf
/.mono
/qt5ct
/syncthing
/pulseaudio-ctl
/gtk-2.0/gtkfilechooser.ini
/gtk-3.0/bookmarks
/dconf
/fontconfig/fonts.conf.back
