/Trolltech.conf
/VirtualBox
/aurvote
/autostart
/btsync
/chromium
/dconf
/fontconfig/fonts.conf.back
/gedit
/gtk-2.0/gtkfilechooser.ini
/gtk-3.0/bookmarks
/htop
/libreoffice
/menus
/nemo
/nitrogen
/pavucontrol.ini
/pulse
/pulseaudio-ctl
/qt5ct
/spotify
/gobby
/syncthing
/teamviewer
